# Ignore macOS system files
.DS_Store

# Ignore backup files (ending with ~)
*~

__pycache__/*
ui/__pycache__/*
meta.json
readme for ankiweb.md
#cache/*
*.zip
.env

# Optional: Ignore node_modules, if relevant to the project
node_modules/
